* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{
    display: block;
}

html,
body{
    width: 100%;
    height: 100%;
}

#app{
    width: 100%;
    height: 100%;
    background-color: azure;
}

.title{
    padding: 20px 0 20px 0;
    text-align: center;
    background-color: #485696;
    color: #E7E7E7;
}
.game{
    display: block;
    width: 40%;
    height: auto;
    margin: 0px auto;
    margin-top: 20px;
    background-color: #E7E7E7;
}
.game>.card-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: aqua;
}
.game>.card-section>.card-box{
    background-color: #fff;
    width: 25%;
    height: auto;
}
.game>.card-section>.card-box>img{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.game>.ui{
    display: flex;
    overflow: hidden;
    background-color: rgb(164, 163, 216);
    width: 100%;
    float: left;
    margin: 0px auto;
}
.game>.ui>button{
    
    display: block;
    float: left;
    font-size: 15px;
    margin: 15px 10px;
}
.game>.ui>.choose{
    display: block;
    float: left;
    width: 20%;
    font-size: 15px;
    margin: 15px 10px;
}
.game>.ui>.choose>#select-sheet{
    font-size: 15px;
}
.game>.ui>.counter{
    font-size: 15px;
    text-align: center;
    margin: 15px 10px;
}