* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{
    display: block;
}

html,
body{
    width: 100%;
    height: 100%;
}

#app{
    width: 100%;
    height: 100%;
    background-color: #F1F6F8;
}

.title{
    padding: 20px 0 20px 0;
    text-align: center;
    background-color: #485696;
    color: #E7E7E7;
}
.self{
    /* display: ; */
    float: left;
    width: 50%;
    height: auto;
    border: 5px solid #131313;
    border-radius: 9px;
    margin: 10px 10px;
    /* stroke: #131313; */
    /* stroke-width: 10px; */
    padding: 10px 10px 10px 10px;
}
.self>.self-short{
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 10px;
}
.self>.self-short>.self-photo{
    float: left;
    /* display: flex; */
    width: 33%;
    height: auto;
    /* border: 3px solid #aaaaaa; */
    border-radius: 9px;
    box-shadow: #777777 5px 5px;
    /* margin: 5px 5px; */
}
.self>.self-short>.intro{
    display: block;
    float: right;
    /* width: auto; */
    width: 66%;
    padding: 5px 5px 5px 20px;
    
}
.self>.self-short>.intro>#myName{
    text-align: center;
    margin: auto;
    font-size: 24px;
}
.self>.self-short>.intro>.intro-short{
    text-align: center;
    margin: auto;
}
.self>.self-short>.intro>p{
    /* text-align: left; */
    margin: 10px 0px;
    text-indent: 30px;
}
.self>.experience{
    display: block;
    float: left;
    width: 50%;
    height: auto;
}
.section-title{
    display: block;
    color: #E7E7E7;
    /* background-color: #5555FF; */
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(72,86,150,1) 5%, rgba(72,86,150,1) 70%, rgba(0,0,0,0) 100%);
    text-indent: 20px;
    padding: 5px;
}
.self>.experience>.intro-list{
    margin: 10px 30px;
}
.self>.works{
    display: block;
    float: left;
    width: 50%;
    height: auto;
}

.self>.works>.intro-list{
    margin: 10px 30px;
}
.self>.works>.intro-list>li>a:hover{
    background-color: #F9C784;
}
.assignment{
    display: block;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    width: 45%;
}
.assignment>h2{
    text-align: center;
    margin: 20px;
}
table{
    border: 1px solid black;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
td, tr{
    border: 1px solid black;
    text-align: center;
}
td>a:hover{
    background-color: #F9C784;
}
